@font-face {
  src: url(fonts/mukti/Mukti-Book.ttf);
  font-family: 'mukti';
}
#header {
  font-family: 'mukti', sans-serif;
}
#header~div {
  margin-top: 60px;
}
h3{
  color:236983;
}
.man-info{
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  height: 250px;
  overflow: scroll;
  background: rgb(43,79,106);
  color: white;
  border-radius: 0px 10px 10px 10px;
  transition: all 500ms;
}
.man-info:hover {
  background: rgba(43,79,106, .7);
  border-radius: 0px 20px 20px 20px;
  box-shadow: 2px 2px 5px #777;
}
#Ayman img, #Solaiman img {
width: auto;
height: 200px;
  transition: all 500ms;
}
#Ayman img:hover, #Solaiman img:hover {
  transform: scale(1.5);
}
a {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: black;
}
h2,h3 {
  font-family: Arial, sans-serif;
}
h3 {
  font-size: 24px;
}
p {
  font-family: 'Roboto Slab', serif;
}
#Ayman h3, #Solaiman h3 {
  text-shadow: 0px 0px 5px #888;
}
.highlight {
  background: #000;
  color: #fff;
}
#Male, #Female {
  margin-top: 40px;
}
#Male img, #Female img {
width: auto;
height: 200px;
}
#Male img:hover, #Female img:hover {
  transform: scale(1.5);
}
