title, head, body {
  font-family: "Poppins", serif;
}
.navbar-brand {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-size: 24px;
}
h1, h3, h4 {
  font-style: italic;
}
.blog-post {
  margin-bottom: 30px;
}

.blog-post-title {
  font-size: 30px;
}
footer {
  background: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
}
